@inject SignInManager<IdentityUser> SignInManager

<head>
    <style>
        .nav-pills .nav-link.active
         {
            color: #fff;
            background-color: #28b059;
        }
        .nav-link:focus {
            background-color: white;
        }

    </style>
</head>
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item"><a class="nav-link" asp-page="../Register">Add another user</a></li>
    }

</ul>
